
@media (min-width:1200px) {
  :root{
    font-size: 12px;
    --border-width: .3rem;

  }
}

@media (min-width:2000px) {
  :root{
    font-size: 15px;
    --border-width: .3rem;

  }
}



@media (max-width:1200px) {
  :root{
    font-size: 10px;
    --border-width: .2rem;

  }
}

@media (max-width:800px) {
  :root{
    font-size: 7px;
    --border-width: .1rem;

  }

}

