html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: border-box; }
body { margin: 0; }
h1, h2, h3, p { padding: 0; margin: 0; }
label { display: block; }
li { list-style: none; padding: 0; display: inline; }
ul { padding: 0; margin: 0}
button { border-style: none; cursor: pointer; }
button:focus { border-color: rgb(107, 107, 107); }
input, textarea { border-style: none; }
input, button, select, textarea { font-family: inherit; font-size: inherit; }
